* {
     font-family: system-ui;
}

body { 
    background: #4da6ff;
}

h1 {
    color: #ffffeb;
}

.register {
    background: #ffffeb;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    padding: 10px;
}

.registerket {
}

.registerstart {
    display: flex;
    flex-direction: column;
    gap: 7px;
    border-radius: 2px;
    padding: 2px;
  left: -4px;
}

.qubitstart .MathJax.CtxtMenu_Attached_0 {
    position: relative;
    top: -3px;
}

.starthighlight {
    background: #4da6ff;
}

mjx-container {
    margin: 0 !important;
    height: fit-content
}

.circuiteditor {
    display: flex;
    position: relative;
    z-index: 1;
    background: #ffffeb;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    flex-direction: column;
}

.circuit {
    display: flex;
    background: repeating-linear-gradient( 0deg, #000 5px, #000 8px, #ffffeb 8px, #ffffeb 38px );
    background-position-y: -8px;
    width: fit-content;
    padding: 0 10px 0 0;
}

.quantumgate {
    border: 1px solid #000;
    flex-direction: row;
    min-width: 20px;
    width: fit-content;
    height: 24px;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    padding: 0 2px;
    background: #ffffeb;
    margin: auto;
}

.quantumgate.gateI {
    border: 1px solid transparent;
    background: #ffffff01;
    color: transparent;
}

/* .quantumgate::before { */
/*   border-bottom: 2px solid black; */
/*   z-index: -1; */
/*   width: calc(200% + 24px); */
/*   content: ""; */
/*   position: absolute; */
/*   top: 10px; */
/* } */

.gatecolumn {
    display: flex;
    flex-direction: column;
    margin: 0 8px;
    gap: 7px;
    padding: 2px;
    border-radius: 2px;
}

.gatehighlight {
    background: #4da6ff;
}

.circuitparts {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.gateSWAP, .gateCZ, .gateCNOT {
    height: 57px;
    flex-direction: column;
}

.gateCCX {
    height: 91px;
    flex-direction: column;
}

.gateCCCX {
    height: 123px;
    flex-direction: column;
}

.gatedrag {
    border: 1px solid #000;
    flex-direction: row;
    min-width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    background: #ffffeb;
}

.qubitstart {
background: #ffffeb;
  width: 24px;
  height: 26px;
  position: relative;
  white-space: pre;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.qubitstart mjxcontainer {
    top: -4px !important;
}

button {
    background: #ffffeb;
    border: none;
    border-radius: 6px;
}

button:active {
    background: lightgrey;
}

.addregister {
    width: 100px;
    background: #4da6ff;
    margin: 10px 0;
    color: #ffffeb;
    font-weight: 600;
}

.log {
z-index: 1;
  background: #ffffeb;
  border-radius: 10px;
  flex-direction: column;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  position: relative;
  min-height: 24px;
}

.wirecreator {
    width: 80%;
    height: 80%;
    position: absolute;
}

.wire {
  position: absolute;
  width: 5px;
  --start: min(var(--wire-end), var(--wire-start));
  --end: max(var(--wire-end), var(--wire-start));
  border-left: 1px solid black;
  height: calc((var(--end) - var(--start)) * 7px + (var(--end) - var(--start) - 1) * 26px);
  z-index: 5;
  translate: 140% calc(var(--start) * 33px + 26px);
  border-right: 1px solid black;
  background: white;
}
